* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
}

.screen {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #32593D;

}

#display {
    border: none;
    width: 90%;
    height: 14.7rem;
    font-size: 4rem;
    background: rgba(52, 133, 74, 0.973);
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}

#display::placeholder {
    color: rgba(255, 255, 255, 0.435);
}

.keyboard_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    max-height: 60%;
    background: #32593D;
}

.keyboard {
    line-height: normal;
    font-size: 30px;
    font-weight: 400;
    width: 100%;
    max-width: 785px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.18em;
    padding: 15px 0;

}

.key {
    border: 1.5px solid rgba(255, 255, 255, 0.25);
    border-radius: 6.154px;
    padding: 5px 0;
    width: 5.0em;
    height: 3em;
    background: rgba(255, 255, 255, 0.2);
    color: white;
}

.line {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 100%;
}

.acentuation-container {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 4px;
    position: absolute;
    background: rgb(87, 144, 103);
    border-radius: 6.154px;
    padding: 0.5rem;    
}

#e-acentuation-container {
    bottom: 4.2rem;
    left: 13%;
    width:19.12%;
    display: none;
}
#o-acentuation-container{
  bottom:4.2rem;
  left:63.5%;
  width:27.53%;
  display: none;
}
#a-acentuation-container{
    display: none;
    bottom:4.2rem;
    left:0%;
    width:27.53%;
  }
.clicked {
    background: rgba(255, 255, 255, 0.4);
}

.keys.remove {
    animation: keys_animation 0.5s forwards;
}

#spacebar {
    width: 37.5em;
}

@media(max-width:855px) {
    .keyboard {
        width: 98%;
    }
}